[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/gunicorn/floodcontrol.sock
SocketUser=www-data
SocketGroup=www-data

[Install]
WantedBy=sockets.target